CompileFlags:
  Add: 
    - -std=c++17
    - -Wall
    - -Wextra
  Remove: 
    - -fcanonical-system-headers
    - -fno-canonical-system-headers
  CompilationDatabase: .

Index:
  Background: Build
  StandardLibrary: true
  
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-braces-around-statements, modernize-use-trailing-return-type]
  
Hover:
  ShowAKA: true
  
Completion:
  AllScopes: true